:root {
    --background-app: black;
    --background-segment: #272f38;
}

html,
.app,
.app>* {
    background: var(--background-app);
}

.app>div>.ui.attached.menu {
    border: none
}

.grid-advanced.grid-header-fix {
    grid-template-rows: 110px auto;
}

.recharts-wrapper text {
    fill: white
}

.segment.slick-slide.slick-active {
    text-align: center;
    cursor: pointer;
}

.segment.slick-slide.slick-active * {
    cursor: pointer;
}

.segment.slick-slide.slick-active .bordered {
    border: 1px solid grey;
    border-radius: 5px; 
}