.ui.dimmer {
    background-color: rgba(0, 0, 0, .55) !important;
}


/* grid-advanced */

.grid-advanced {
    margin: 0;
    display: grid;
    height: 100%;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    /* grid-template-rows: fit-content(100%); */
    /* grid-template-columns: fit-content(100%); */
}

.grid-advanced.grid-header-fix {
    grid-template-rows: 140px auto;
}

.grid-advanced.grid-header-min {
    grid-template-rows: min-content auto;
}

.grid-advanced.grid-filter-right {
    grid-template-columns: auto 250px;
}


/* client-view */

.grid-advanced.grid-client-view-main {
    grid-template-rows: repeat(2, min-content) 200px fit-content();
}

.grid-advanced.grid-client-view-sub {
    grid-template-columns: auto 40%;
}

.grid-advanced.grid-client-view-sub2 {
    grid-template-columns:  auto 40%;
}


/*custom filter*/

.custom-filter.menu>.item {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.ui.pointing.secondary.menu .item {
    padding-right: 10px !important;
    padding-left: 10px !important;
}


/****************************************************/

.card.colorred {
    border-left: 10px solid #db2828!important;
    box-shadow: 0 0 0 1px #db2828!important;
}

.card.colorblue {
    border-left: 10px solid #2185d0!important;
    box-shadow: 0 0 0 1px #2185d0!important;
}

.card.colorteal {
    border-left: 10px solid #00b5ad!important;
    box-shadow: 0 0 0 1px #00b5ad!important;
}

.card.coloryellow {
    border-left: 10px solid #fbbd08!important;
    box-shadow: 0 0 0 1px #fbbd08!important;
}

.card.colorgrey {
    border-left: 10px solid #767676!important;
    box-shadow: 0 0 0 1px #767676!important;
}


/****************************************************/

.ui.cards>.card.client-card {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5, 6px 6px 5px #888888;
    cursor: pointer;
}

.card.client-card .client-card-left {
    text-align: center;
}

.card.client-card .client-card-right div {
    padding: 4px;
}

.card.client-card .ui.statistics {
    display: block;
}

.card.client-card .ui.statistics .ui.statistic {
    margin: 0 1.5em 0 1.5em !important;
}

.card.client-card .ui.statistics .ui.statistic>.value {
    font-size: 1.3em !important;
}


/*****************************************/

.ui.cards>.card.client-card {
    font-size: x-small;
}


/*****************************************/

.menuIcon .icons {
    text-align: 'center'
}

.menuIcon .icons .icon {
    background-color: white;
}

.menuIcon .icons>span {
    display: none;
}

.menuIcon .icons:hover>span {
    display: block;
}

html {
    background: #f8f5f5
}


svg .area:not(.unselectable),
svg g.selectable {
    cursor: pointer;
}

svg .regions .area:not(.unselectable):hover>path {
    fill: darkkhaki !important;
}

svg .boundaries>path {
    stroke: gray;
}


/** Top Client List */

.topClientDropOption>div[role="alert"] {
    text-decoration: underline;
}


.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }