html {
    background: #f8f5f5;
    font-size: 12px !important;
}

.ui.dimmer {
    background-color: rgba(0, 0, 0, 0.55) !important;
}

/* SLIDER */
.custom-slick-arrow {
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.custom-slick-prev {
    left: -15px !important;
}

.custom-slick-next {
    right: -10px !important;
}

.sliderGraph {
    margin-left: 10px;
    margin-right: 10px;
}

/*
.sliderGraphItem.slick-slide {
    text-align: center;
    cursor: pointer;
}
*/

.sliderGraphItem.slick-slide * {
    cursor: pointer;
}

.sliderGraphItem.slick-slide.bordered,
.sliderGraphItem.slick-slide .bordered {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 5px;
}

/* FLEX */
.ui-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.ui-flex>div {
    flex: 1;
}

.ui-flex.ui-flex-col {
    flex-direction: column;
}

.ui-flex.ui-flex-row {
    flex-direction: row;
}

.ui-flex.ui-flex-row>div {
    margin: 5px 5px !important;
}

.ui-flex.ui-flex-row>div:first-child {
    margin-left: 0px !important;
}

.ui-flex.ui-flex-row>div:last-child {
    margin-right: 0px !important;
}

.tab-dashboard .ui-flex.ui-flex-row>div {
    width: 50%;
}

/* RECHARTS */
.recharts-wrapper {
    font-size: 10px;
}

/* COLORS */
.color-green {
    color: #21ba45 !important
}

.color-red {
    color: #db2828 !important
}

.color-orange {
    color: #f2711c !important
}

.color-yellow {
    color: #fbbd08 !important
}

.color-olive {
    color: #b5cc18 !important
}

.color-teal {
    color: #00b5ad !important
}

.color-blue {
    color: #2185d0 !important
}

.color-violet {
    color: #6435c9 !important
}

.color-purple {
    color: #a333c8 !important
}

.color-pink {
    color: #e03997 !important
}

.color-brown {
    color: #a5673f !important
}

.color-grey {
    color: #767676 !important
}

.color-black {
    color: #1b1c1d !important
}

/* grid-advanced */
.grid-advanced {
    margin: 0;
    display: grid;
    height: 100%;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
}

.grid-advanced.grid-header-fix {
    grid-template-rows: 95px auto;
}

.grid-advanced.grid-header-min {
    grid-template-rows: min-content auto;
}

.grid-advanced.grid-filter-right {
    grid-template-columns: auto 200px;
}

.grid-advanced.grid-filter-right>div {
    overflow: hidden;
}

/* client-view */
.grid-advanced.grid-client-view-main {
    grid-template-rows: repeat(2, min-content) 200px fit-content();
}

.grid-advanced.grid-client-view-sub {
    grid-template-columns: auto 40%;
}

.grid-advanced.grid-client-view-sub2 {
    grid-template-columns: 100%;
}

/*custom filter*/
.custom-filter.menu>.item {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.ui.pointing.secondary.menu .item {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

/****************************************************/

.card.colorred {
    border-left: 10px solid #db2828 !important;
    box-shadow: 0 0 0 1px #db2828 !important;
}

.card.colorblue {
    border-left: 10px solid #2185d0 !important;
    box-shadow: 0 0 0 1px #2185d0 !important;
}

.card.colorteal {
    border-left: 10px solid #00b5ad !important;
    box-shadow: 0 0 0 1px #00b5ad !important;
}

.card.coloryellow {
    border-left: 10px solid #fbbd08 !important;
    box-shadow: 0 0 0 1px #fbbd08 !important;
}

.card.colorgrey {
    border-left: 10px solid #767676 !important;
    box-shadow: 0 0 0 1px #767676 !important;
}

/****************************************************/

.ui.cards>.card.client-card {
    /* box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5, 6px 6px 5px #888888; */
    cursor: pointer;
}

.card.client-card .client-card-left {
    text-align: center;
}

.card.client-card .client-card-right div {
    padding: 4px;
}

.card.client-card .ui.statistics {
    display: block;
}

.card.client-card .ui.statistics .ui.statistic {
    margin: 0 1.5em 0 1.5em !important;
}

.card.client-card .ui.statistics .ui.statistic>.value {
    font-size: 1.3em !important;
}

/*****************************************/

.ui.cards>.card.client-card {
    font-size: x-small;
}

/*****************************************/

.menuIcon .icons {
    text-align: "center";
}

.menuIcon .icons .icon {
    background-color: white;
}

.menuIcon .icons>span {
    display: none;
}

.menuIcon .icons:hover>span {
    display: block;
}

svg .area:not(.unselectable),
svg g.selectable {
    cursor: pointer;
}

svg .regions .area:not(.unselectable):hover>path {
    fill: darkkhaki !important;
}

svg.nations .area:not(.unselectable):hover>path {
    fill: darkkhaki !important;
}

svg.nations path.europe.eu:not(.managed) {
    fill: dimgray !important;
}

svg.nations path.europe:not(.eu) {
    fill: rgb(59, 59, 59) !important;
}

svg.nations path:not(.europe) {
    fill: rgb(42, 42, 42) !important;
}

svg .boundaries>path {
    stroke: gray;
}

/** Top Client List */
.topClientDropOption>div[role="alert"] {
    text-decoration: underline;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/** Area Legend */
.singleAreaLegend .title {
    color: white;
    font-family: 'Lato';
    font-size: 2em;
    width: 50%
}

div.menu-flat.vertical{
  margin: 0;
  border-left: solid thin #1b1c1d;
}

div.col-user-menu{
  width: 226px !important;
  right: 0px;
  position: absolute !important;
}

div.col-user-menu .menu-user{
    margin-top: -10px !important;
}

.topClientOptionSelector{
  text-align: center;
}

.btnProposals {
  padding: 10px;
  position: absolute;
  right:0;
  top:0;
  border:none;
}
/* TODO: Ask to ruska to put in theme color */
.ui.dropdown .menu>.divider{
  border-top-color:  rgba(255,255,255,.1) !important;
}

.custom-filter.menu .dynamicMenuContext {
  /* color: rgb(84, 200, 255) !important; */
  color: #949494 !important;
}

.altoshow-groups-explorer::-webkit-scrollbar { width: 0 !important }
.altoshow-groups-explorer { overflow: -moz-scrollbars-none; }
.altoshow-groups-explorer { -ms-overflow-style: none; }


@keyframes fade-in {
  from {opacity: 0}
  to { opacity: 1};
}

.altoshow-current{
  display: none;
}
.altoshow-animate-current{
  animation-name: fade-in;
  animation-duration: 1s;
}

 .altoshow  .slick-center {
   border-left: 1.3px solid yellow;
   border-right: 1.3px solid yellow;
   border-radius: 4px;
}

